@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-image: url(LTyrrels.github.io/assets/img/fond.gif);
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-repeat: no-repeat;
}

.centre{
    margin: 220px;
    text-align: center;
}

#titre{
    font-size: 70px;
    text-shadow: 2px 1px 2px #295383;
}

a:visited, a:hover, a:link{
    color: white;
    text-decoration: none;
    text-shadow: 2px 1px 2px #295383;
}

.bottom-text{
    position: absolute;
    bottom: 0px;
}

.sous-titre{
    font-size: 20px;
}